<ion-header>
    <ion-toolbar color="primary">
        <ion-title> Time@ </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <h3>India</h3>
        </ion-card-header>
        <ion-card-content>
            <span #indiaTime></span>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h3>Canada</h3>
        </ion-card-header>
        <ion-card-content>
            <span #canadaTime></span>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h3>St. Louis</h3>
        </ion-card-header>
        <ion-card-content>
            <span #stLouisTime></span>
        </ion-card-content>
    </ion-card>
</ion-content>
